.homePage-wrapper{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#091921; 
    padding: 20px;
    margin: 0px;
}
.homePage-content{ 
    max-width: 800px;
    
}
.homePage-title-image {
    align-items: center;
}
.homePage-title-image img{ 
    width: 800px;
}
.homePage-text{ 
    margin: 20px 0px 20px 0px;
    color: white;
    text-align: inherit;
    line-height: 22px;
}
.homePage-text span { 
    margin-right: 30px;
}